@import '../_variables.scss';

.button {
  width: 100%;

  margin-bottom: 1rem;

  box-shadow: $bs-1;

  &:last-child {
    margin-bottom: 0;
  }

  background-color: rgba($color-4, 0.7);
  border-radius: 5px;

  color: $color-f;
  cursor: pointer;

  overflow: hidden;

  &:hover,
  &:focus {
    background-color: rgba($color-4, 0.9);
  }

  & .pulse {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0.7rem;
  }

  & .bg {
    background-color: $color-2;
  }
}
