@font-face {
  font-family: 'Roboto-Mono-Regular';
  src: url('../assets/fonts/Roboto-Mono/RobotoMono-Regular.ttf');
}

@font-face {
  font-family: 'Roboto-Mono-Italic';
  src: url('../assets/fonts/Roboto-Mono/RobotoMono-Italic.ttf');
}

@font-face {
  font-family: 'Roboto';
  src: url('../assets/fonts/Roboto/Roboto-Regular.ttf');
}
