$color-f: #ffffff;
$color-1: #333333;
$color-2: #f0f4f8;
$color-3: rgb(134, 205, 233);
$color-4: rgb(53, 199, 53);
$color-5: rgb(246, 101, 10);

$transition-1: .2s ease;

$bg: rgba($color-2, .5);
$bs-1: 0 0 5px rgba($color-1, 0.2);

// $color-: rgb(30, 46, 71);
// $color-: rgba(255, 144, 0, 0.8);
// $color-: #5499C7;
// $color-: #c57474;
// $color-: rgb(49, 54, 61);